<app-header>
</app-header>
<app-banner></app-banner>
<div *ngIf="spinnerConfig['fullScreen']">
  <ngx-spinner [bdOpacity]="spinnerConfig['bdOpacity']" [bdColor]="spinnerConfig['bdColor']" [size]="spinnerConfig['size']"
    [color]="spinnerConfig['color']" [type]="spinnerConfig['type']">
    <p style="color: white">{{loadingText}}</p>
  </ngx-spinner>
</div>

<mat-grid-list [cols]="spinnerConfig['fullScreen'] ? 2 : 3">
  <mat-grid-tile>
    <div class="config-container">
      <h3>Configuration</h3>
      <mat-form-field>
        <input matInput placeholder="Spinner Color" [(colorPicker)]="spinnerConfig['color']" [cpCancelButton]="true"
          [(ngModel)]="spinnerConfig['color']" [cpPosition]="'bottom'">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Backdrop Color" [(colorPicker)]="spinnerConfig['bdColor']" [cpCancelButton]="true"
          [(ngModel)]="spinnerConfig['bdColor']" [cpPosition]="'bottom'">
      </mat-form-field>
      <mat-radio-group [(ngModel)]="spinnerConfig['size']" [style.paddingBottom.px]="20">
        <label class="mat-input-placeholder mat-form-field-placeholder label-text">Spinner Size</label>
        <mat-radio-button *ngFor="let label of sizeArray" [value]="label">{{label}}</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <mat-select placeholder="Spinner Type" [(ngModel)]="spinnerConfig['type']">
          <mat-option *ngFor="let loader of loaders" [value]="loader">
            {{ loader }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Backdrop Opacity" type="number" min="0" max="1.0" step="0.1" [(ngModel)]="spinnerConfig['bdOpacity']">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Loading Text" type="text" [(ngModel)]="loadingText">
      </mat-form-field>
      <mat-radio-group [(ngModel)]="spinnerConfig['fullScreen']" [style.paddingBottom.px]="20">
        <label class="mat-input-placeholder mat-form-field-placeholder label-text">Fullscreen Mode</label>
        <mat-radio-button [value]="true">On</mat-radio-button>
        <mat-radio-button [value]="false">Off</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!spinnerConfig['fullScreen']">
    <ngx-spinner [bdOpacity]="spinnerConfig['bdOpacity']" [bdColor]="spinnerConfig['bdColor']" [size]="spinnerConfig['size']"
      [color]="spinnerConfig['color']" [type]="spinnerConfig['type']" [fullScreen]="false">
      <p style="color: white">{{loadingText}}</p>
    </ngx-spinner>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="code-container">
      <div class="code-outer">
        <div class="code">
          <i class="tag-name">&lt;ngx-spinner</i>

          <span class="input-wrapper">
            <span class="input-name">bdOpacity</span>
            =
            <i class="input">
              <span>{{spinnerConfig['bdOpacity']}}</span>
            </i>
          </span>

          <span class="input-wrapper">
            <span class="input-name">bdColor</span>
            =
            <i class="input">
              <span>"{{spinnerConfig['bdColor']}}"</span>
            </i>
          </span>

          <span class="input-wrapper">
            <span class="input-name">size</span>
            =
            <i class="input">
              <span>"{{spinnerConfig['size']}}"</span>
            </i>
          </span>

          <span class="input-wrapper">
            <span class="input-name">color</span>
            =
            <i class="input">
              <span>"{{spinnerConfig['color']}}"</span>
            </i>
          </span>

          <span class="input-wrapper">
            <span class="input-name">type</span>
            =
            <i class="input">
              <span>"{{spinnerConfig['type']}}"</span>
            </i>
          </span>

          <span class="input-wrapper">
            <span class="input-name">fullScreen</span>
            =
            <i class="input">
              <span>"{{spinnerConfig['fullScreen']}}"</span>
            </i>
          </span>
          <i class="tag-name">&gt;</i>
          <span class="input-name" style="color: aquamarine">
            <i class="tag-name">&lt;p
              <span class="input-name">style="color: white"</span>
              &gt;</i>
            {{loadingText}}
            <i class="tag-name">&lt;/p&gt;</i>
          </span>
          <i>&lt;/ngx-spinner&gt;</i>
        </div>
      </div>
      <div class="button-container">
        <button mat-fab color="" (click)="showSpinner()" title="Play Spinner">
          <img src="assets/play-btn.png" class="play-icon" />
        </button>
        <span class="play-btn-label">Play Spinner</span>
        <p>(Spinner will stop automatically after 3 seconds)</p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- <div style="background: aliceblue; height: 350px; width: 350px;border: 1px solid #dddd;margin-bottom:10px; position: relative;"> -->
<!-- <div class="row">
  <div class="col-6" [ngStyle]="{'min-height': '40vh'}">
    <h2 class="float-left">First Spinner</h2>
    <button class="btn float-right position-relative" (click)="showSpinner('1')">Start</button>
    <ngx-spinner name="1" [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
      [fullScreen]="false">
      <p style="font-size: 20px; color: white">Loading first spinner...</p>
    </ngx-spinner>
  </div>
  <div class="col-6">
    <h2 class="float-left">Second Spinner</h2>
    <button class="btn float-right position-relative" (click)="showSpinner('Wasabi')">Start</button>
    <ngx-spinner name="Wasabi" [bdColor]="'rgba(0,128,0,0.8)'" [type]="'ball-climbing-dot'" [size]="spinnerConfig.size"
      [color]="'rgba(255,255,51,0.8)'" [fullScreen]="false">
      <p style="font-size: 20px; color: white">Loading some wasabi...</p>
    </ngx-spinner>
  </div>
  <div class="col-12 text-center">
    <button class="btn btn-block btn-primary" (click)="showSpinner()">Full Screen Spinner(Directive's binding)</button>
    <button class="btn btn-block btn-danger mt-0" (click)="changeAndShowSpinner()">Full Screen Spinner(Change
      properties on show call)</button>
  </div>
  <div class="col-6" [ngStyle]="{'min-height': '50vh'}">
    <h2 class="float-left">Third Spinner</h2>
    <button class="btn float-right position-relative" (click)="showSpinner('2')">Start</button>
    <ngx-spinner name="2" [bdColor]="'rgba(238,130,238,.8)'" [type]="'ball-clip-rotate-pulse'" [size]="spinnerConfig.size"
      [color]="'rgba(255,255,51,0.8)'" [fullScreen]="false">
      <p style="font-size: 20px; color: white">Loading third spinner...</p>
    </ngx-spinner>
  </div>
  <div class="col-6">
    <h2 class="float-left">Forth Spinner</h2>
    <button class="btn float-right position-relative" (click)="showSpinner('Catchup')">Start</button>
    <ngx-spinner name="Catchup" [bdColor]="'rgba(255,0,0,.8)'" [type]="'line-scale-party'" [size]="spinnerConfig.size"
      [color]="spinnerConfig.color" [fullScreen]="false">
      <p style="font-size: 20px; color: white">Loading some catchup...</p>
    </ngx-spinner>
  </div>
</div>
<ngx-spinner>
  <p style="font-size: 20px; color: white">{{loadingText}}</p>
</ngx-spinner> -->

<!-- </div> -->